/*------------------VARIABLES  ---------------------------------*/
$clr-soft-blue: hsl(231, 69%, 60%);
$clr-soft-red: hsl(0, 94%, 66%);

$clr-grayish-blue: hsl(229, 8%, 60%);
$clr-vdark-blue: hsl(229, 31%, 21%);
$clr-white: #fff;
$clr-black: #000;

$text-color-black: $clr-black;


$small-font-size: .667rem; //12px;
$regular-font-size: 0.889rem;
$large-font-size: 1.333rem;

$text-line-height:25px;
$m-20: 20px;